@tailwind base;
@tailwind components;
@tailwind utilities;


/*styles for classList component*/
.classList {
    display: flex;
    flex-direction: column;
    background-color: theme('colors.custom-black');
    color: theme('colors.custom-white');
    margin-top: 1rem;
}

.classListItem {
    flex-shrink: 0;
    padding: 0.5rem;
    border-width: 1px;
    border-radius: 0.375rem;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-color: theme('colors.custom-neon-blue');
    text-align: center;
}

.classListItem:hover {
    background-color: theme('colors.custom-blue');
}

.classListStudent {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

